tools/gcc/gcc*
tools/redis/redis*
tools/redis/running.pid
*.tar.gz
*.mak
*.pyc
vmm/install
storage/
testsuite/*/*
!testsuite/executor/gopath
data/pmc
*.zip
*programs*
*input*
generate/image/
generate/kernel
*.log
